flowderendimiento.json
[
    {
        "id": "62969350.a923a4",
        "type": "tab",
        "label": "Rendimiento",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ff924c7d.e124e8",
        "type": "cpu",
        "z": "62969350.a923a4",
        "name": "Core Usage",
        "msgCore": false,
        "msgOverall": false,
        "msgArray": true,
        "msgTemp": false,
        "x": 330,
        "y": 60,
        "wires": [
            [
                "4331efb7.b2f1b8"
            ]
        ]
    },
    {
        "id": "7fdadb5d.099fac",
        "type": "inject",
        "z": "62969350.a923a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "ff924c7d.e124e8",
                "d373b3f5.a9a338"
            ]
        ]
    },
    {
        "id": "661d2514.386d54",
        "type": "debug",
        "z": "62969350.a923a4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 240,
        "wires": []
    },
    {
        "id": "e49f9f3e.d69698",
        "type": "debug",
        "z": "62969350.a923a4",
        "name": "structData",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 460,
        "wires": []
    },
    {
        "id": "d373b3f5.a9a338",
        "type": "cpu",
        "z": "62969350.a923a4",
        "name": "CPU Temperature",
        "msgCore": false,
        "msgOverall": false,
        "msgArray": false,
        "msgTemp": true,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "661d2514.386d54",
                "e3217fd3.8e1688"
            ]
        ]
    },
    {
        "id": "e3217fd3.8e1688",
        "type": "ui_gauge",
        "z": "62969350.a923a4",
        "name": "CPU Temperature",
        "group": "e5da42365352351a",
        "order": 4,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Teperature ºC",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "4331efb7.b2f1b8",
        "type": "function",
        "z": "62969350.a923a4",
        "name": "",
        "func": "msg.payload = {\n    corespd1:msg.payload[0].speed,\n    corespd2:msg.payload[1].speed,\n    corespd3:msg.payload[2].speed,\n    corespd4:msg.payload[3].speed\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 60,
        "wires": [
            [
                "a76ab539.469a98",
                "43c05735.89106",
                "fb11e89d.6ef2b",
                "e895a837.31f718"
            ]
        ]
    },
    {
        "id": "a76ab539.469a98",
        "type": "ui_gauge",
        "z": "62969350.a923a4",
        "name": "CPU MHz 1",
        "group": "e5da42365352351a",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Core 1 Usage Mhz",
        "label": "MHz",
        "format": "{{msg.payload.corespd1}}",
        "min": 0,
        "max": "3200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 890,
        "y": 60,
        "wires": []
    },
    {
        "id": "43c05735.89106",
        "type": "ui_gauge",
        "z": "62969350.a923a4",
        "name": "CPU MHz 2",
        "group": "e5da42365352351a",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Core 1 Usage Mhz",
        "label": "MHz",
        "format": "{{msg.payload.corespd1}}",
        "min": 0,
        "max": "3200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "fb11e89d.6ef2b",
        "type": "ui_gauge",
        "z": "62969350.a923a4",
        "name": "CPU MHz 3",
        "group": "e5da42365352351a",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Core 3 Usage Mhz",
        "label": "MHz",
        "format": "{{msg.payload.corespd1}}",
        "min": 0,
        "max": "3200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 890,
        "y": 180,
        "wires": []
    },
    {
        "id": "e895a837.31f718",
        "type": "ui_gauge",
        "z": "62969350.a923a4",
        "name": "CPU MHz 4",
        "group": "e5da42365352351a",
        "order": 6,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Core 4 Usage Mhz",
        "label": "MHz",
        "format": "{{msg.payload.corespd1}}",
        "min": 0,
        "max": "3200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "3fcb8517.54a2d2",
        "type": "cpu",
        "z": "62969350.a923a4",
        "name": "Core Usage",
        "msgCore": false,
        "msgOverall": true,
        "msgArray": false,
        "msgTemp": false,
        "x": 330,
        "y": 400,
        "wires": [
            [
                "e49f9f3e.d69698",
                "f9fd199.a22e668"
            ]
        ]
    },
    {
        "id": "f556e346.48b128",
        "type": "inject",
        "z": "62969350.a923a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "3fcb8517.54a2d2"
            ]
        ]
    },
    {
        "id": "f9fd199.a22e668",
        "type": "ui_chart",
        "z": "62969350.a923a4",
        "name": "",
        "group": "e5da42365352351a",
        "order": 3,
        "width": 6,
        "height": 6,
        "label": "Uso en el core",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "3200",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#e9b96e",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 580,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "e5da42365352351a",
        "type": "ui_group",
        "name": "Default",
        "tab": "6d54a11.6b2c0e",
        "order": 1,
        "disp": true,
        "width": 18,
        "collapse": false
    },
    {
        "id": "6d54a11.6b2c0e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
